@model LacteosTolima.App.Models.Herd

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Herd</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">JoinDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JoinDate)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Milker</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Milker.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
