@model LacteosTolima.App.Models.Consumption

@{
    ViewBag.Title = "Details";
}

<h2>Details of the consumption number @Html.DisplayFor(model => model.Id)</h2>

<fieldset>
    <legend>Consumption</legend>

    <div class="display-label">SilageAmout</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SilageAmout)
    </div>

    <div class="display-label">HayAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HayAmount)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Cow</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cow.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
