@model IEnumerable<LacteosTolima.App.Models.ConsumptionReportCow>

@{
    ViewBag.Title = "ConsumptionReportCowDay";
}

<h2>ConsumptionReportCowDay</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdCow
        </th>
        <th>
            NameCow
        </th>
        <th>
            SilageAmout
        </th>
        <th>
            HayAmount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SilageAmout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HayAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
