@model IEnumerable<LacteosTolima.App.Models.Cow>

@{
    ViewBag.Title = "Index";
}

<h2>List of registered cows</h2>

<ul class="options">
    @Html.ActionLink("Register New Cow", "Create") |
    @using (Html.BeginForm("ProductionReportCowDay", "Cow"))
    {
        <span>Fecha: </span>
        @Html.TextBox("dayp")
        <input type="submit" value="Day Production Report" />
    }
    @using (Html.BeginForm("ConsumptionReportCowDay", "Cow"))
    {
        <span>Fecha: </span>
        @Html.TextBox("dayc")
        <input type="submit" value="Day Consumption Report" />
    }
</ul>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Silage Amount
        </th>
        <th>
            Hay Amount
        </th>
        <th>
            Age
        </th>
        <th>
            Commercial Assessment
        </th>
        <th>
            Mother
        </th>
        <th>
            Herd
        </th>
        <th>
            Production
        </th>
        <th>
            Silage Consumption
        </th>
        <th>
            Hay Consumption
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <a href="@Url.Action("Details", "Details", new { id = item.Id })">
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SilageAmout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialAssessment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mother.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Herd.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalProductions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSilage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Logic Delete", "Deactivate", new { id = item.Id })
        </td>
    </tr>
    </a>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dayp').datepicker({ dateFormat: '@Html.ConvertDateFormat()' });
        $('#dayc').datepicker({ dateFormat: '@Html.ConvertDateFormat()' });
    });
</script>